@font-face {
    font-family: Roboto;
    src: url(Assets/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(Assets/Merriweather/Merriweather-Light.ttf);
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

 body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.content{
    /* border: 1px solid red; */

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
}

.left{
    background-image: url("Assets/img/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 35%;
    height: 100%;
}

.right{
    /* border: 1px solid blue; */

    width: 65%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-form{
    background-color: #F7ECEB;
    height: 90%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-left: 10%;
    margin-top: -150px;

    width: 50%;
}

h1{
    font-family: 'Merriweather';
    text-align: left;
    font-size: 2rem;
    color: #545871;
}

.form-content{
    /* border: solid 2px green; */

    display: flex;
    justify-content: space-between;
    width: 80%;
}

label{
    font-family: 'Roboto';
    color: #545871;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 0.1px solid lightgray;
    font-family: 'Roboto';
    width: 300px;
}

select{
    padding: 9px;
    border-radius: 5px;
    border: 0.1px solid lightgray;
    font-family: 'Roboto';
}

input::placeholder{
    color: #EBD0CE;
}

.content-form-footer{
    height: 20% ;
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.form{
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
}

.content-form-footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

button{
    height: fit-content;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    font-family: "Merriweather";
    cursor: pointer;
    background-color: #fff;
    border: 0.1px solid #DADBE6;
    transition: .5s;
    font-family: 'Roboto';
    font-size: 20px;
}

button:hover{
    background-color: #DADBE6;
}

.title-ent{
    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-top: 10%;
}

.title-logo{
    color: #fff;
    font-family: 'Roboto';
    letter-spacing: .1cm;
}

.form-item{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.labelInput{
    width: 777px;
}

ul{
    list-style-type: none;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #DADBE6;
}

li{
    display: flex;
    align-items: center;
    gap: 15px;
    
    margin-bottom: 30px;
}

.fil{
    width: 30px;
    height: 30px;
    background-color: #DADBE6;
    border-radius: 999px;
}

.active{
    width: 20px;
    height: 20px;
    border: 10px solid #DADBE6;
    border-radius: 999px;
}

.ul{
    display: flex;
    justify-content: center;
    margin-left: -70px;
}